.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80dvh;
    justify-content: center;
    align-items: center;
}

.title {
    background: linear-gradient(90deg,
    rgba(108,108,255,1) 0%,
    rgba(0,220,80,1) 50%,
    rgba(108,108,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 64px;
    letter-spacing: 35px;
}

.input-bar {
    color: var(--text-color);
    background-color: rgba(20, 20, 20, 0.8);
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 3em;
}



.form > label {
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-between;
}

input[type=submit] {
    height: 40%;
    aspect-ratio: 1/1;
    border-radius: 20%;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 18px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.list-container {
    width: 95%;
    top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: top;
    margin-top: 2vmin;
}

.searchbar-wrapper {
    position: relative;
    background-color: rgb(100,100,200);
    margin: 2vmin;
}

.search-input {
    position: absolute;
    font-family: monospace;
    color: var(--text-color);
    text-transform: full-width;
    background-color: rgba(0,0,0,0.8);
    border: none;
    font-size: 17px;
    width: 337px;
    transform: translateX(-50%);
}

.search-placeholder {
    font-family: monospace;
    font-size: 17px;
    position: absolute;
    left: 1;
    top: 1;
    pointer-events: none;
    transition: 0.1s ease all;
    color: rgba(255,255,255,0.2);
    transform: translateX(-50%);
}

.search-input:focus {
    outline: none;
    border-bottom: 1px solid var(--text-color);
}

.search-input:focus ~ .placeholder {
    top: 1px;
}

.list-entry {
    width: 100%;
    display: flex;
    border-top: 5px solid black;
    
}

.list-entry:hover > *{
    white-space: normal;
    word-wrap: break-word;
}



.legend {
    height: 6dvh !important;
    min-height: 6dvh !important;
    align-items:center;
    width: 100%;
    display: flex;
}

.list-data {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding-left: 2.5dvw;
}

.list-data-wide {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding-left: 2.5dvw;
}

.searchbar {
    padding: 1em;
}

@media (max-width: 500) {
    .form {
        flex-direction: column !important;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}
::-webkit-scrollbar-thumb {
    background: rgba(200,200,200,0.8); 
    border-radius:0px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(150,150,150,0.8); 
}